@import url(https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css);

.container{
position: absolute;
background-color: #F0F0F0;
/*transform: translateX(-50%) translateY(-50%);*/
width: 800px;
height: 600px;
margin: 0 auto;
box-shadow: 0px 0px 30px 1px rgba(0,0,0,0.7) ;

}


.container .header {
/*position: absolute;*/
width: 800px;
background-color: #a19df2;
height: 200px;
text-align: center;
}

.container .headertitle {
position: absolute;
width: 100%;
height: 75px;
background-color: #a19df2;
font-family: 'Nanum Barun Gothic', sans-serif;
}



.container .loginbutton {
position: fixed;
width: 100px;
height: 35px;
align-content: center;
background-color: #6a71b7;
left: -20px

}

.container .exitbutton {
position: absolute;
width: 780px;
height: 10px;
top:0px;
font-family: 'Nanum Barun Gothic', sans-serif;
color: #FFFFFF;
line-height: 35px;
background-color: #a19df2;
text-align: right;
font-weight: bold;
font-size: 18px;


}

.container .content {
background-color: #f4f7fe;
float: left;
width: 800px;
height: 400px;
}

.container .title {
color: #FFFFFF;
width: 100%;
height: 75px;
text-align: center;
font-weight: bold;
font-size: 45px;
line-height: 1em;
}

.container .subtitle {
width: 100%;
height: 75px;
text-align: center;
color: #FFFFFF;
font-size: 18px;
line-height: 1em;
}
